<ion-content>
  <ion-button routerLink="/inicio-usuario/" size="small" fill="clear">
    <ion-icon class="voltar" name="caret-back"></ion-icon>
  </ion-button>
  <div class="foodPa">
    <ion-text>
      <h5>
        <strong>
          foodPa
        </strong>
      </h5>

        <br>
        <ion-img class="foto" src="https://i.pinimg.com/564x/eb/b6/c7/ebb6c74913f96de670a6e842de9dc948.jpg"
          alt="restaurante aleatório"></ion-img>

        <div class="estrelinhas">
          <ion-icon color="warning" [name]="nota <= 0 ? 'star-outline' : 'star'" (click)="setNota(1)"></ion-icon>
          <ion-icon color="warning" [name]="nota <= 1 ? 'star-outline' : 'star'" (click)="setNota(2)"></ion-icon>
          <ion-icon color="warning" [name]="nota <= 2 ? 'star-outline' : 'star'" (click)="setNota(3)"></ion-icon>
          <ion-icon color="warning" [name]="nota <= 3 ? 'star-outline' : 'star'" (click)="setNota(4)"></ion-icon>
          <ion-icon color="warning" [name]="nota <= 4 ? 'star-outline' : 'star'" (click)="setNota(5)"></ion-icon>
        </div>

        <h4>Nota geral:  {{ media }}</h4>
        <h5>{{ total }} avaliações</h5>
        <br>
        <ion-button size="large" shape="round" class="avaliar" expand="block" (click)="avaliarRestaurante()">Avaliar</ion-button>
    </ion-text>
  </div>


  <br>
  <ion-list class="bg-transparent">
    <ion-item-sliding *ngFor="let produto of produtos; index as i">
      <ion-item color="transparent" [routerLink]="['/produto-usuario/', produto.id]" detail>
        <ion-label>
          <h2>
            {{produto.nome}}
          </h2>
          <h3>
            R${{produto.valor}}
          </h3>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button routerLink="/inicio-usuario/">
      <ion-icon class="home" size="large" name="home"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button routerLink="/dados-usuario/">
      <ion-icon class="dados" size="large" name="accessibility"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="primary">
  </ion-buttons>
</ion-toolbar>