<ion-content>

  <div class="foodPa">
    <ion-text>
      <h5>
        <strong>
          foodPa
        </strong>
      </h5>
    </ion-text>
  </div>

  <br>

  <div class="texto1">
    <ion-text>
      <h1>
        Seja bem-vindo!
      </h1>
      <h6>Dseja logar como: </h6>
    </ion-text>
  </div>

  <br>
  <br>


  <div class="restaurante"><ion-button routerLink="/login-restaurante/" type="submit" shape="round"><ion-icon
        color="danger" size="large" name="business-outline"></ion-icon>Restaurante</ion-button></div>
  <div class="usuario"><ion-button routerLink="/login-usuario/" type="submit" shape="round">ㅤ<ion-icon 
        color="danger"size="large" name="person-outline"></ion-icon>Usuárioㅤ</ion-button></div>

</ion-content>