<ion-content>
  <div class="foodPa">
    <ion-text>
      <h5>
        <strong>
          foodPa
        </strong>
      </h5>

      <form [formGroup]="formGroup">

        <div class="nome">
          <ion-input type="text" formControlName="nome" readonly></ion-input>
        </div>
        <br>
        <ion-img class="foto" src="https://i.pinimg.com/564x/b7/3e/48/b73e48738ce592545d1b238beccad7d4.jpg"
          alt="comida aleatória"></ion-img>
        <div class="descricao">
          <ion-input type="text" formControlName="descricao" readonly></ion-input>
        </div>

        <ion-icon color="warning" [name]="nota <= 0 ? 'star-outline' : 'star'" (click)="avaliarProduto(1)"></ion-icon>
        <ion-icon color="warning" [name]="nota <= 1 ? 'star-outline' : 'star'" (click)="avaliarProduto(2)"></ion-icon>
        <ion-icon color="warning" [name]="nota <= 2 ? 'star-outline' : 'star'" (click)="avaliarProduto(3)"></ion-icon>
        <ion-icon color="warning" [name]="nota <= 3 ? 'star-outline' : 'star'" (click)="avaliarProduto(4)"></ion-icon>
        <ion-icon color="warning" [name]="nota <= 4 ? 'star-outline' : 'star'" (click)="avaliarProduto(5)"></ion-icon>
      </form>
    </ion-text>

  </div>


  <br>

</ion-content>

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button routerLink="/inicio-usuario/">
      <ion-icon class="home" size="large" name="home"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button routerLink="/dados-usuario/">
      <ion-icon class="dados" size="large" name="accessibility"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="primary">
  </ion-buttons>
</ion-toolbar>