<ion-content>

  <div class="foodPa">
    <ion-text>
      <h5>
        <strong>
          foodPa
        </strong>
      </h5>
    </ion-text>
  </div>

  <div class="texto1">
    <ion-text>
      <h1>
        Ótimo!
      </h1>
      <h6>
        Preencha os dados a seguir
      </h6>
    </ion-text>
  </div>

  <br>
  <br>

  <div class="Frame23">

    <div class="restaurante"><ion-button class="restaurante" type="submit" shape="round"><input type="file" (change)="registarFoto($event)" />ㅤㅤㅤ<ion-icon name="camera-outline"></ion-icon>ㅤㅤㅤ</ion-button></div>
    <br>
    
    <div class="botao"><ion-button class="botaozinho" type="submit" size="large" shape="round" (click)="salvar()">Login</ion-button></div>
    <br>
    
  </div>
</ion-content>